body{
    font-family: 'Cabin', sans-serif;
    color: #fff;
    background-size: cover;
}

.col-lg-2{
    background-color: black;
    padding-top: 10px;
    padding-left: 10px;
    height: 1500px; 
}

.col-lg-10{
    background-image: url(../images/secondBackground.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    text-align: center;
    font-family: 'Cabin', sans-serif;
    background-color: transparent;
}

.jumbotron{
    background-color: transparent;
}

.navbar-brand{
    padding-left: 8px;
    font-family: 'Cabin', sans-serif;
    color: #fff;
    font-size: 29px;
}

.seperateQuestions{
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
    
}

.startButton, #submit, #playAgain{
    background-color: #1ED760;
    color: #fff;
    font-size: 35px;
    text-align: center;
    padding: 5px 80px 10px;
    border-radius: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
}










@media(max-width: 1300px){



    .col-lg-10{
        background-size: 1300px 2100px;
    }
    
    
    
    }

    @media(max-width: 500px){
        .col-lg-10{
            background-size: 500px 2100px;
        }

        .col-lg-2{
            height: 250px;
        }
        
    }